html, body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Source Sans Pro', 'helvetica', sans-serif;
}

* { box-sizing: border-box;}

h1 { 
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 1em;
  color: rgba(255,255,255,.9);
  text-shadow: 1px 1px 0px rgba(0,0,0,.13);
  font-family: 'Source Sans Pro', 'helvetica', sans-serif;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

p {
  font-size: 1.18em;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0em;
  margin:0 auto 1em auto;
  max-width: 85%;
  text-shadow: 1px 1px 0px rgba(0,0,0,.13);
  max-width: 90%;
  
}

img {
  max-width: 100%;
}

address {
  margin-bottom:1em;
}

#header,#intro,#product,#usage,#submit,#footer p {color:white;}
#t-feed p {color:black;}
#t-feed a {text-decoration: none; color:rgb(42,178,221);}
#t-feed a:hover {border-bottom: solid 1px rgb(42,178,221);}
#t-feed i {color:rgb(42,178,221);}

a {text-decoration: underline; color:white;}


#footer a { margin: 0 .3em;}
#footer a:hover {color:gray;}


#header {background-color: rgb(120, 216, 155); position: relative; z-index: 1;}
#header .item { opacity: .9; -webkit-filter: brightness(1) grayscale(0.3);}
#intro {background-color: rgb(168,212,130);}
#product {background-color: rgb(255,255,255); color:rgb(42,178,221);}
#usage {background-color: rgb(42,178,221);}
#submit {background-color: rgb(42,178,221); color:white;}
#launchparty {
  background-color: rgb(168,212,130);
  color:white;
}
#launchparty p {
  color:#444;
  text-align: left;
  max-width: 100%;
  margin-right:20%;
}
#launchparty p.center {
  text-align: center;
  margin:0;
}
#launchparty a {
  color:#444;
}
#launchparty address {
  color:#444;
}
#launchparty .left {
  width:48%;
  float:left;
}
#launchparty .right {
  width:48%;
  float:right;
}
#launchparty ul {
  margin-left:30px;
  margin-bottom:10px;
  text-align: left;
  list-style: circle;
  color:#444;
  font-size:1.5em;
}
#launchparty ul li {
  margin-bottom: 10px;
}
#launchparty .big {
  font-size:2em;
}
#mc_embed_signup {
  margin:2em 0 0 0;
}
#mc_embed_signup h2 {
  font-size:2em;
}
#mc_embed_signup .indicates-required {
  margin-bottom: 2em;
}
#mc_embed_signup label {
  display: block;
}
#mc_embed_signup .mc-field-group {
  margin-bottom:0.5em;
}
#t-feed {background-color: rgb(255,255,255);}
#partners {background-color: rgb(168,212,130);}
#footer {background-color: rgb(35,33,44); color:white;}

.color1 { background-color: #68c39f !important; }
.color2 { background-color: #449bb5 !important; }

/* BONES */
#header,#intro,#usage,#submit,#t-feed,#footer,#product {
	width: 100%;
}

.wrapper {
	padding: 4em 0;
}


#usage h3 {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  border: 5px solid rgba(255,255,255,.06);
  text-align: center;
  padding-top: 19px;
  margin: 0 auto;
  margin-bottom: 8px;
}
#usage p {
  padding-top: 15px;
}
#usage .steps {
  text-align: center;
}
#usage hr {
  border: 3px dashed rgba(0,0,0,.1);
  position: relative;
  top: 70px;
  width: 50%;
  z-index: 0;
}
#usage img {
  position: relative;
  z-index: 1;
}
#usage .steps:nth-child(2){
  position: relative;
  top: -30px;
}


/* HEADER */

#header .wrapper {padding:3em 0;}

.logo-wrapper{
  position: absolute;
  top: 0px;
  width:100%;
  z-index:2;
  min-height: 300px;
}

.logo {
  width:265;
  position: relative;
  margin:0 auto;
}

.logo-wrapper i {
  margin-top:-15px;
  font-size:1em;
  display: none;
}

.steps {
	width: 100%;
	float: left;
  margin: 0 1%;
}

.steps p {
  width: 100%;
  max-width: 300px;
  margin: auto;
  margin-top: .75em;

}
.steps img {
  width: 100%; 
}

.steps h3 {
  margin-bottom: 1em;
}

.steps img {
  max-width: 92%;
}


/* MEAT */

#partners .partner {width: 250px; margin-bottom:1.5em;}

.img {width: 90%; max-width: 750px;}

/* SKIN */

/* .wrapper{background-color: rgba(250,250,250,0.8); width: 95%; max-width: 900px; margin:auto;} */

/* CLEARFIX */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}


/* FORM */

.tags-wrapper {
   width: 50%;
   margin: 0 auto;
}
.tag-container {
   padding-bottom: 10px;
}
.tag {
  padding: 9px 12px 8px 8px;
  margin: 0 3px 3px 4px;
  border-radius: 3px;
  background-color: rgb(27,161,207);
  display: inline-block;
  font-size: 18px;
}
.submit {
    
}
.disabled {
    pointer-events: none;
    opacity: .2;
}
.close {
    position: relative;
    top: -1px;
    padding: 2px 3px;
    text-align: center;
    margin-right: 6px;
    display: inline-block;
    color: rgba(255,255,255,1);
    font-size: 12px;
    border-radius: 2px;
    border: 2px solid rgba(255,255,255,1);
}
.close:hover {
  cursor: pointer;
}
input.tags {
   width: 100%;
   padding: 10px;
}

.button, .field {
  font-size: 1.2em; 
  border: 2px solid white;
  border-radius: 2px;
  background:transparent;
  color: white;
   padding: 8px;
}
.field {
  text-align: center; 
  margin-bottom: .5em; 
  width: 80%;
  max-width: 600px;
  font-size: 1em;
 
}
.field:focus {
  outline: 0;
}
.button {
  width: 6em;
  color: white;
  margin: 0px;
  padding: 6px;
} 


/* all */
::-webkit-input-placeholder { color:rgba(255,255,255,.8); }
::-moz-placeholder { color:rgba(255,255,255,.8); } /* firefox 19+ */
:-ms-input-placeholder { color:rgba(255,255,255,.8); } /* ie */
input:-moz-placeholder { color:rgba(255,255,255,.8); }


/*      Carousel      */


.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 1;
  min-height: 275px;
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-control.left {
  background-image: -webkit-gradient(linear, 0% top, 100% top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0%), color-stop(rgba(0, 0, 0, 0.0001) 100%));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-gradient(linear, 0% top, 100% top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0%), color-stop(rgba(0, 0, 0, 0.5) 100%));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
}
.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
}
.carousel-caption {
  font-size:1em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding-top: 0;
  padding-bottom: 0
  color: #ffffff;
  text-align: left;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  display:none;
}
.carousel-caption .btn {
  text-shadow: none;
}


@media screen and (min-width: 800px) {
  .logo {
    width:33%;
  }

}


@media screen and (min-width: 768px) {
  .carousel-control .glyphicons-chevron-left,
  .carousel-control .glyphicons-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }

  .carousel-caption {
    font-size:1.5em;
    left:0;
    display: inline;
  }
  .steps {
    width:31%;
  }

  p {max-width: 80%;}

  p {
    max-width: 60%;
  }
}

@media screen and (min-width: 1040px) {
  .carousel-caption {
    font-size:2.5em;
    left:-30%;
  }

  p {max-width: 60%;}
}



/*    MEDIA QUERIES    */

@media all and (min-width: 768px) {

  .logo-wrapper i {
    margin-top:-33px;
    font-size:2em;
  }

}

@media screen and (max-width: 768px) {
  #launchparty .left, #launchparty .right {
    width:100%;
    float:none;
  }
  #launchparty .right {
    width:80%;
    float:none;
    margin:0 auto;
  }
  #launchparty p {
    margin:0;
  }
}
/* COLORS

Yellow (lighter) color: rgb(241,203,126);
Yellow color:rgb(241,211,141);
Blue color:rgb(101,208,214);
Orange color:rgb(239,124,77);
Black/Blue color:rgb(35,33,44);


 */